@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    /* background-color: #2b2b2b; */
    min-height: 100%;
    /* overflow: hidden; */
}


header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: fixed;
    z-index: 10;
    align-items: center;
    padding: 0 80px;
    z-index: 16;
}

.active {
    background-color: #2b2b2b;
    padding-bottom: 5px;
}

.nav-links {
    display: flex;
    align-items: center;
    width: 100%;
    padding-top: 20px;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links li a {
    margin-right: 10px;
    color: #fff;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

.nav-links .donate {
    border: 1px solid #C46D35;
    padding: 5px 12px;
}

.nav-links .donate a {
    color: #C46D35;
}

.nav-links .adviser {
    border: 1px solid #00A3E1;
    padding: 5px 12px;
    position: relative;
}

.nav-links .adviser:after, .nav-links .adviser:before {
    content: "";
    height: 0;
    width: 0;  
    border-color: transparent;
    position: absolute;
    bottom: 0;
    right: 0;
    border-style: solid;
}

.nav-links .adviser:before {
    border-width: 0.5em;
    border-right-color: #00A3E1;
    border-bottom-color: #00A3E1;
}

.nav-links .adviser:after {
    border-radius: 0.4em;
    border-width: 0.2em;
    border-right-color: #00A3E1;
    border-bottom-color: #00A3E1;
}

.nav-links .adviser a {
    color: #00A3E1;
}

@media (max-width: 1025px) {

    header {
        padding-left: 50px;
    }

   nav {
    width: 200px;
    height: 100%;
    background-color: #2b2b2b;
    position: fixed;
    top: 0;
    right: -300px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition:  right .8s cubic-bezier(1, 0, 0, 1);
    z-index: 4;
   }

   .hamburger-menu{
    width: 35px;
    height: 30px;
    position: fixed;
    top: 15px;
    right: 30px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
    }

    .line{
        width: 100%;
        height: 3px;
        background-color: #fff;
        transition: all 0.8s;
        font-size: 1.17em;
    }

    .change .line-1{
        transform: rotateZ(-405deg) translate(-8px, 6px);
        background-color: #fff;
    }

    .change .line-2{
        opacity: 0;
    }

    .change .line-3{
        transform: rotateZ(405deg) translate(-8px, -6px);
        background-color: #fff;
    }

    .nav-links {
        flex-direction: column;
    }

    .nav-links li {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-bottom: 40px;
        margin-right: 0;
    }

    .nav-links li a {
        width: 100%;
        color: #fff;
    }

    .change{ 
        right: 0;
    }
    
}

@media (max-width: 450px) {

    header {
        padding-left: 10px;
    }

    .logo {
        padding-top: 10px;
        width: 60%;
    }

    .hamburger-menu {
        right: 70px;
    }

}

.hero-section {
    height: 600px;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), 
    url('./assets/hero-image.jpg') no-repeat top;
    background-position-y: -50px;
    background-size: cover;
    width: 100%;
    z-index: 5;
    clip-path: polygon(0 0, 0 90%, 50% 100%, 100% 90%, 100% 0);
    position: relative;
}

.hero-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
}

.hero-heading h1 {
    color: #fff;
    text-align: center;
    font-size: 50px;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    position: relative;
    display: flex;
    flex-direction: column;
    z-index: 10;
}

.hero-heading h1 img {
    position: absolute;
    bottom: -10px;
    left: -35px;
    z-index: -1;
}

@media (max-width: 450px) {
    .hero-heading h1 {
        font-size: 40px;
    }

    .hero-heading h1 img {
        width: 90%;
        left: 20px;
    }
}

.survey {
    position: relative;
}

.student-survey {
    width: 50%;
    height: 225px;
    position: absolute;
    top: -70px;
    left: 25%;
    z-index: 15;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

 .survey-dots {
    background: url('./assets/survey-dots.svg') no-repeat;
    position: absolute;
    top: 0;
    left: -10%;
    width: 100%;
    height: 100%;
}

@media (min-width: 1590px) {
    .survey-dots {
        left: 0%;
    }
}

.student-heading h2 {
    font-size: 40px;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    color: #1f315c;
    margin-bottom: 10px;
    position: relative;
}

.student-heading h2::before {
    content: "";
    border: 0.1px solid #1f315c;
    height: 0;
    width: 50px;
    position: absolute;
    top: 50%;
    left: -20%;
    display: block;
}

.student-heading h2::after {
    content: "";
    border: 0.1px solid #1f315c;
    height: 0;
    width: 50px;
    position: absolute;
    top: 50%;
    right: -20%;
    display: block;
}

.student-survey p {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    text-align: center;
    color: #1f315c;
    width: 80%;
} 

@media (max-width: 1025px) {
    .student-survey {
        width: 80%;
        left: 10%;
    }

    .survey-dots {
        left: -25%;
    }
}

@media (max-width: 450px) {
    .student-heading h2 {
        font-size: 30px;
    }

    .student-heading h2::before {
        left: -30px;
        width: 20px;
    }

    .student-heading h2::after {
        width: 20px;
        left: 260px;
    }

    .survey-dots {
        left: -40%;
    }
}

.impact {
    /* margin: 200px 0; */
    padding-top: 200px;
    position: relative;
    overflow: hidden;
    height: 90vw;
}



@media (max-width: 1540px) {
    .impact {
        height: 110vw;
    }
}

@media (max-width: 1025px) {
    .impact {
        /* height: 100%; */
        height: 220vw;
    }
}

.impact-background {
    position: absolute;
    /* background: url('./assets/impact-background.svg') no-repeat; */
    width: 200vw;
    height: 60vw;
    /* width: 2305px;
    height: 1359px; */
    /* top: 150px;
    left: -1700px; */
    top: 220px;
    left: -300px;
    background-color: #3A5DAE;
    opacity: 0.07;
    transform: matrix(0.98, -0.19, 0.19, 0.98, 0, 0);
    /* transform: rotate(-11deg); */
}

@media (max-width: 1540px) {
    .impact-background {
        height: 80vw;
    }
}

@media (max-width: 1025px) {
    .impact-background {
        height: 170vw;
    }
}

@media (max-width: 450px) {
    .impact {
        height: 400vw;
    }

    .impact-background {
        height: 280vw;
    }
}
    

.impact .impact-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 0 auto;
}

.impact-one {
    height: 300px;
    background: linear-gradient( rgba(58, 93, 174, 0.7), rgba(58, 93, 174, 0.7) ), 
    url('./assets/banner4.jpg') no-repeat top;
    background-position-y: 20%;
    /* width: 100%; */
    /* width: 80vw; */
    min-width: 1215px;
    background-size: cover;
    position: relative;
}

@media (max-width: 1025px) {
    .impact-one {
        min-width: 100%;
    }
}

.border {
    border: 1px solid #fff;
    margin: 10px;
    height: 280px;
}

.impact-one::after {
    content: "";
    width: 100%;
    /* width: 80vw; */
    background: url('./assets/banner-dots1.png') no-repeat center;
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.impact-one .stats-one {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.stats-one .stats-one-img {
    display: flex;
    position: relative;
}

@media (max-width: 450px) {
    .stats-one-img {
        width: 40%;
    }
}

.stats-one .stats-one-img:before {
    content: "";
    border: 0.1px solid #fff;
    height: 0;
    width: 50px;
    position: absolute;
    top: 50%;
    left: -50%;
    display: block;
}

.stats-one .stats-one-img:after {
    content: "";
    border: 0.1px solid #fff;
    height: 0;
    width: 50px;
    position: absolute;
    top: 50%;
    right: -50%;
    display: block;
}

.stats-one-text {
    margin-top: 20px;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

.stats-one-text p {
    width: 70%;
    text-align: center;
    margin: 0 auto;
    font-weight: 400;
    position: relative;
    z-index: 2;
}

.stats-one-text p::after {
    content: "";
    background: url('./assets/strikethrough-one.svg') no-repeat;
    height: 50px;
    width: 75%;
    position: absolute;
    top: 10%;
    left: 15%;
    display: block;
    z-index: -1;
}

.impact-two {
    margin-top: 50px;
    display: flex;
    height: 300px;
    /* width: 100%; */
    border-top: 5px solid #00A3E1;
    min-width: 1215px;
}

@media (max-width: 1025px) {
    .impact-two {
        min-width: 100%;
    }
}

.impact-two-left {
    width: 45vw;
    background-color: #1f315c;
    position: relative;
    z-index: -2;
}

.impact-two-left .dot-two {
    position: absolute;
    width: 80%;
    display: block;
    height: 100%;
    left: 10%;
    z-index: -1;
}

.stats-two {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    z-index: 5;
}

.stats-two .stats-two-img {
    display: flex;
    position: relative;
}

.stats-two .stats-two-img:before {
    content: "";
    border: 0.1px solid #fff;
    height: 0;
    width: 50px;
    position: absolute;
    top: 50%;
    left: -50%;
    display: block;
}

.stats-two .stats-two-img:after {
    content: "";
    border: 0.1px solid #fff;
    height: 0;
    width: 50px;
    position: absolute;
    top: 50%;
    right: -50%;
    display: block;
}

.stats-two-text {
    margin-top: 20px;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

.stats-two-text p {
    width: 45%;
    text-align: center;
    margin: 0 auto;
    font-weight: 400;
    position: relative;
    z-index: 2;
}

@media (max-width: 1025px) {
    .stats-two-text p {
        width: 70%;
    }
}

.stats-two-text p::before {
    content: "";
    background: url('./assets/strikethrough-2.1.svg') no-repeat;
    height: 50px;
    width: 100%;
    position: absolute;
    top: 40%;
    left: 0;
    display: block;
    z-index: -1;
}

.stats-two-text p::after {
    content: "";
    background: url('./assets/strikethrough-2.2.svg') no-repeat;
    height: 50px;
    width: 50%;
    position: absolute;
    top: 75%;
    left: 25%;
    display: block;
    z-index: -1;
}

.impact-two-right {
    background: url('./assets/banner3.jpg') no-repeat right;
    width: 80%;
}

@media (max-width: 1025px) {
    .impact-two-right {
        background-position: center;
    }
}

@media (max-width: 450px) {
    .stats-two-text p::before {
        top: 45%;
    }

    .stats-two-text p::after {
        top: 85%;
    }
}

.impact-three {
    margin-top: 50px;
    display: flex;
    flex-direction: row-reverse;
    height: 300px;
    /* width: 100%; */
    border-top: 5px solid #00A3E1;
    min-width: 1215px;
}

@media (max-width: 1025px) {
    .impact-three {
        min-width: 100%;
    }
}

.impact-three-left {
    width: 45vw;
    background-color: #3A5DAE;
    position: relative;
    z-index: -2;
}

.impact-three-left .dot-two {
    position: absolute;
    width: 80%;
    display: block;
    height: 100%;
    left: 10%;
    z-index: -1;
}

.stats-three {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    z-index: 5;
}

.stats-three .stats-three-img {
    display: flex;
    position: relative;
}

.stats-three .stats-three-img:before {
    content: "";
    border: 0.1px solid #fff;
    height: 0;
    width: 50px;
    position: absolute;
    top: 50%;
    left: -50%;
    display: block;
}

.stats-three .stats-three-img:after {
    content: "";
    border: 0.1px solid #fff;
    height: 0;
    width: 50px;
    position: absolute;
    top: 50%;
    right: -50%;
    display: block;
}

.stats-three-text {
    margin-top: 20px;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

.stats-three-text p {
    width: 60%;
    text-align: center;
    margin: 0 auto;
    font-weight: 400;
    position: relative;
    z-index: 2;
}

.stats-three-text p::before {
    content: "";
    background: url('./assets/strikethrough-3.1.svg') no-repeat;
    height: 50px;
    width: 30%;
    position: absolute;
    top: 10%;
    left: 70%;
    display: block;
    z-index: -1;
}

.stats-three-text p::after {
    content: "";
    background: url('./assets/strikethrough-3.2.svg') no-repeat;
    height: 50px;
    width: 80%;
    position: absolute;
    top: 60%;
    left: 10%;
    display: block;
    z-index: -1;
}

.impact-three-right {
    background: url('./assets/banner2.jpg') no-repeat center;
    background-size: cover;
    width: 80%;
}

@media (max-width: 450px) {
    .stats-three-text p::before {
        top: 30%;
    }

    .stats-three-text p::after {
        top: 80%;
    }
}

.impact-four {
    height: 300px;
    background: linear-gradient( rgba(58, 93, 174, 0.7), rgba(58, 93, 174, 0.7) ), 
    url('./assets/banner1.jpg') no-repeat top;
    background-position-y: 15%;
    /* width: 100%; */
    background-size: cover;
    position: relative;
    margin-top: 50px;
    min-width: 1215px;
}

@media (max-width: 1025px) {
    .impact-four {
        min-width: 100%;
    }
}

.impact-four::after {
    content: "";
    width: 100%;
    background: url('./assets/banner-dots1.png') no-repeat center;
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.impact-four .stats-four {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.stats-four .stats-four-img {
    display: flex;
    position: relative;
}

.stats-four .stats-four-img:before {
    content: "";
    border: 0.1px solid #fff;
    height: 0;
    width: 50px;
    position: absolute;
    top: 50%;
    left: -50%;
    display: block;
}

.stats-four .stats-four-img:after {
    content: "";
    border: 0.1px solid #fff;
    height: 0;
    width: 50px;
    position: absolute;
    top: 50%;
    right: -50%;
    display: block;
}

.stats-four-text {
    margin-top: 20px;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

.stats-four-text p {
    width: 70%;
    text-align: center;
    margin: 0 auto;
    font-weight: 400;
    position: relative;
    z-index: 2;
}

.stats-four-text p::before {
    content: "";
    background: url('./assets/strikethrough-4.1.svg') no-repeat;
    height: 50px;
    width: 50%;
    position: absolute;
    top: 15%;
    left: 55%;
    display: block;
    z-index: -1;
}

.stats-four-text p::after {
    content: "";
    background: url('./assets/strikethrough-4.2.svg') no-repeat;
    height: 50px;
    width: 50%;
    position: absolute;
    top: 70%;
    left: 25%;
    display: block;
    z-index: -1;
}

footer {
    width: 100%;
    min-height: 400px;
    background-color: #1f315c;
    border-top: 9px solid #00A3E1;
    position: relative;
    overflow: hidden;
}

.footer-dots {
    position: relative;
    /* background-color: #000;
    width: 100%;
    height: 100%;
    display: block; */
}

.footer-dots img {
    position: absolute;
    width: 30%;
    left: 50%;
    top: 50%;
    /* height: 50%; */
    /* height: 300px; */
    transform: translate(-50%, -50%);
    /* top: 0px; */
    /* left: 0; */
    /* bottom: 0px; */
    /* z-index: 4; */
    display: block;
}

@media (max-width: 1025px) {
    .footer-dots img {
        width: 50%;
    }
}

@media (max-width: 450px) {
    .footer-dots img {
        width: 80%;
    }
}

footer:after, footer:before {
    content: "";
    height: 0;
    width: 0;  
    border-color: transparent;
    position: absolute;
    bottom: 0;
    right: 0;
    border-style: solid;
}

footer:before {
    border-width: 1em;
    border-right-color: #00A3E1;
    border-bottom-color: #00A3E1;
}

footer:after {
    border-radius: 1em;
    border-width: 1em;
    border-right-color: #00A3E1;
    border-bottom-color: #00A3E1;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 80%;
    margin: 0 auto;
}

@media (max-width: 1025px) {
    .footer-content {
        width: 95%;
    }
}

.footer-content .footer-logo {
    width: 10%;
    align-self: flex-start;
}

.footer-pattern {
    position: absolute;
    bottom: 0px;
    width: 60%;
    /* height: 100px; */
    right: -250px;
}

@media (max-width: 1025px) {
    .footer-pattern {
        width: 70%;
    }
}

.contact-us {
    color: #fff;
    width: 20%;
}

.contact-us h5 {
    font-size: 20px;
    margin-bottom: 10px;
}

.contact-sec-1 {
    /* width: 50%; */
}

.terms {
    margin: 30px 0;
    display: flex;
    flex-direction: column;
}

.terms a {
    color: #fff;
    text-decoration: underline;
}

.terms a:first-child {
    margin-bottom: 5px;
}

.socials img:nth-child(1), .socials img:nth-child(2) {
    margin-right: 15px;
}

.programs {
    color: #fff;
    width: 20%;
}

.prog h5, .hr h5, .media h5, .gi h5, .dr h5 {
    font-size: 20px;
    margin: 15px 0;
}

.prog h5:first-child {
    margin-top: 0;
}

.stay-make {
    color: #fff;
    width: 20%;
}

.stay h5, .make h5 {
    font-size: 20px;
}

.make {
    margin-top: 50px;
}

.stay p, .make p {
    margin: 15px 0;
    /* width: 70%; */
}

.sign-up, .donate-footer {
    margin-top: 25px;
}

.sign-up a, .donate-footer a {
    border: 1px solid #00A3E1;
    background-color: #00A3E1;
    padding: 5px 15px;
    color: #fff;
}

.donate-footer a {
    border: 1px solid #C46D35;
    background-color: #C46D35;
}

.sign-up a img, .donate-footer a img {
    margin-left: 10px;
}

.extra-logos {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
}

.extra-logos img:first-child {
    width: 85px;
    height: 85px;
    margin-bottom: 40px;
}

.extra-logos img:nth-child(2) {
    width: 160px;
    height: 50px;
}

@media (max-width: 540px) {
    footer {
        padding-left: 20px;
    }

    .footer-content {
        flex-direction: column;
    }

    .footer-content .footer-logo {
        width: 40%;
        align-self: center;
    }

    .contact-us, .programs, .stay-make, .extra-logos {
        width: 80%;
        margin-top: 30px;
    }

    .extra-logos {
        align-self: center;
    }
}

@media (max-width: 375px) {
    .impact {
        height: 420vw;
    }
    .impact-background {
        height: 300vw;
        width: 250vw;
    }
}

@media (max-width: 375px) {
    .impact {
        height: 440vw;
    }
}

@media (max-width: 280px) {
    .hero-heading h1 {
        font-size: 25px;
    }

    .student-heading h2 {
        font-size: 20px;
    }

    .student-heading h2::after {
        width: 20px;
        left: 175px;
    }

    .impact {
        height: 570vw;
    }

    .impact-background {
        height: 400vw;
    }
}